//VARIABLE DECLARATIONS

//COLORS
$secondaryBackgroundColor: #a3d1ff;
$heading: #6cb5ff;
$accentColor: #4141fa;
$primary-font-color: #111;
$secondary-font-color: #bbb086;
$text-font-color: #515151;
$buttonColor: #0000e0;
$buttonHoverColor: #1e90ff;
$footerColor: #6cb5ff;

//FONTS
$primaryFont: "Raleway", sans-serif;

//STRIPPING STYLES
html,
body,
section,
h1,
h2,
h3,
h4,
a,
p,
ul,
li,
form,
select,
button {
  padding: 0;
  margin: 0;
  color: $primary-font-color;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
select {
  border: none;
  background: none;
}

img {
  width: 100%;
  height: auto;
}

//GLOBAL STYLES
html {
  font-size: 62.5%;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
