header {
  min-height: 670px;
  height: 85vh;
  margin-top: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  // border-color: #000000;
  // border-width: 0px;

  &__item {
    display: flex;
  }

  &__social-link {
    margin-left: 1rem;
    &--last {
      padding-right: 0 !important;
    }
  }

  &__icon {
    font-size: 2.5rem;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 0 0 5rem;
        a {
          font: 500 1.3rem $primaryFont;
          color: $primary-font-color;
          text-transform: uppercase;
          // text-decoration: underline !important;
          text-decoration-line: none;
          padding: 1rem;

          transition: all 0.5s ease;

          &:hover,
          &:focus {
            color: $secondary-font-color;
            text-decoration-line: underline;

            // border-bottom: 5px solid black;
          }

          // &:after {
          //   // border-bottom: 1px solid black;
          //   text-decoration: underline !important;
          //   // background-color: black;
          //   width: 0;
          //   transition: all 0.5s ease;

          //   &:hover,
          //   &:focus {
          //     // border-bottom: 5px solid black;
          //     text-decoration: underline;
          //     width: 100%;
          //   }
          // }
        }
      }
    }
  }
}
